@charset "UTF-8";
article-list {
  background: #f8f9fa;
  margin-top: 8px;
  line-height: 18px;
  font-size: 14px;
  color: #7b858e;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15)
}

.article-list+.article-list {
  margin-top: 0;
  border-top: 1px solid #ebeef1
}

.comment-wrap+.article-list {
  margin-top: 16px
}

.article-list-title {
  background: #fff;
  border-bottom: 1px solid #ebeef1;
  position: relative
}

.article-list-title__text {
  padding: 24px 16px;
  line-height: 21px;
  font-size: 18px;
  font-weight: 700;
  color: #1e2022
}

.article-list-title__button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 18px;
  margin-right: 16px;
  line-height: 15px;
  font-size: 12px;
  padding: 8px 15px 7px
}

.article-list__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.article-list-item {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 78px;
  box-sizing: border-box;
  border-top: 1px solid #ebeef1;
  background-color: #fff;
  padding: 8px 0
}

.article-list--compact .article-list-item {
  border-left: 3px solid transparent;
  padding-left: 0
}

.article-list--compact .article-list-item--current {
  border-left-color: #46cfa7;
  background: #f8f9fa
}

.article-list-item:first-child {
  border-top: none
}

.article-list-item--notice,
.article-list-item--notice:hover {
  background-color: #ecf8ff
}

.article-list-item__vote {
  display: table-cell;
  width: 48px;
  vertical-align: middle;
  text-align: center
}

.article-list-item__vote>div {
  margin-top: 5px;
  line-height: 17px;
  font-size: 14px;
  color: #7b858e
}

.article-list-item__content {
  display: table-cell;
  vertical-align: middle
}

.article-list-item__title {
  display: flex;
  overflow: auto;
  vertical-align: top;
  line-height: 15px;
  font-size: 14px;
  color: #1e2022;
  word-break: break-all
}

.article-list-item__title>em {
  color: #16ae81
}

.article-list-item__title>img {
  padding-right: 5px
}

.article-list-item__title .post-title {
  display: block;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px
}

.article-list-item__title-icon {
  color: #1ea1f7;
  padding-right: 5px
}

.article-list-item-meta {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.article-list-item-meta__item {
  display: inline-block;
  line-height: 18px;
  font-size: 14px;
  color: #98a0a7;
  padding-left: 8px
}

.article-list-item-meta__item:before {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #ebeef1;
  height: 12px;
  content: "";
  margin-right: 8px
}

.article-list-item-meta__item:first-child {
  padding-left: 0
}

.article-list-item-meta__item:first-child:before {
  display: none
}

.article-list-item-meta__tier {
  width: 24px;
  height: 24px;
  vertical-align: middle
}

.article-list-item-thumbnail {
  display: table-cell;
  width: 62px;
  padding: 0 8px 0 4px;
  vertical-align: middle
}

.article-list-item__thumbnail {
  display: block;
  width: 62px;
  height: 62px;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;"
}
