@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

.chating{
	position: absolute;
	width: 1500px;
	margin-left: 40px;
	height: 92vh;
	overflow: auto;
}
.chating .me{
	color: #F6F6F6;
	text-align: right;
}
.chating .others{
	color: #FFE400;
	text-align: left;
}