@charset "UTF-8";
*{
     padding: 0;
     margin:0;
}
        body{
            background-image: url(/img/IndexBackGroundPicture.jpg);
            position: relative;
            background-size : cover;
        }
        #LoginChapter, #JoinChapter{
            cursor: pointer;
            width: 74px;
            height: 30px;
            border: none;
            background-color: white;
            float: left;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
        }
        #LoginChapter{
            position: absolute;
            top: 210px;
            left: 320px;
        }
        #JoinChapter{
            position: absolute;
            top: 210px;
            left: 400px;
        }
        .form1{
            clear: both;
            position: absolute;
            top: 260px;
            left: 300px;
            border: 1px solid black;
            width: 300px;
            height: 400px;
            background-color: white;
        }
        form #logoImg{
            width: 80px;
            height: 60px;
            margin-left: 110px;
            margin-top: 10px;
        }
        form #title{
            font-weight: bold;
            margin-left: 20px;
            margin-bottom: 9px;
            font-size: 18px;
        }
        .form1 ul{
            list-style: none;
            margin-left: 20px;
        }
        .form1 input{
            
            width: 250px;
            height: 40px;
        }
        .form1 #loginPW{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .form1 #memo{
            font-size: 12px;
            width: 250px;
            height: 50px;
        }
        .form1 #spanInus{
            font-size: 15px;
            font-weight: bold;
            color: #ec7f3a;
        }
        .form2{
            position: absolute;
            top: 260px;
            left: 300px;
            border: 1px solid black;
            width: 300px;
            height: 400px;
            background-color: white;
        }
        .form2 ul{
            list-style: none;
        }
        .form2 input{
            width: 250px;
            height: 40px;
        }